<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Sailfish Store</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Bungee+Shade|Ubuntu|Work+Sans:200,400,500,600,800" rel="stylesheet">

    <!-- Angular -->
    <script src="js/angular.js"></script>
    <script src="js/angular-ui-router.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-cookies.js"></script>
    <!-- Custom JS -->
    <script src="js/sailfish.js"></script>
</head>

<body ng-app="sailfish">
    <div class="container-fluid container1" ng-controller="NavController">
        <div class="row row1">
            <div class="col-sm-10 col-sm-offset-1 nav">
                <h1 class="title">Sailfish Aquatics Store</h1>
                <div class="" ng-show="loggedin" ng-model="user">
                    Welcome {{user.first_name}}!
                    <button class="btn btn-primary" type="button" ng-click="logout()">Log Out</button>
                    <button class="btn btn-success" type="button" ng-click="logout()">View Cart</button>
                </div>
                <div class="userDiv" ng-hide="loggedin">
                    <button class="btn btn-primary" type="button" ng-click="openLogin()">Login</button>
                    <div class="popupform loginform" ng-show="login">
                        <h1>Login</h1>
                        <form ng-submit="submitLogin()" name="loginForm" method="post" data-toggle="validator">
                            <div class="loginerror" ng-show="loginerror">
                                Login failed - try again!
                            </div>
                            <div class="form-group has-feedback">
                                <label for="username"><span class="glyphicon glyphicon-user"></span> Username</label>
                                <input ng-model="loginform.username" type="text" name="username" value="" class="form-control" placeholder="Enter your username" data-minlength="5" data-error="Usernames are 5+ characters" required>
                                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group has-feedback">
                                <label for="password"><span class="glyphicon glyphicon-lock"></span> Enter a Password</label>
                                <input ng-model="loginform.password" type="text" name="password" value="" class="form-control" placeholder="Enter your password" data-minlength="6" data-error="Passwords are 5+ characters" required>
                                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                <div class="help-block with-errors"></div>
                            </div>
                            <button type="submit" class="btn btn-warning">Login</button>
                        </form>
                    </div>
                    <button class="btn btn-warning" type="button" name="signup" ng-click="openSignUp()">Sign Up</button>
                    <div class="popupform signupform" ng-show="signup">
                        <h1>Sign Up</h1>
                        <form ng-submit="submitSignUp()" class="sign-up" method="post" data-toggle="validator">
                            <div class="signuperror" ng-show="signuperror">
                                Username already taken!
                            </div>
                            <div class="form-group">
                                <label for="first_name" class="control-label"><span class="glyphicon glyphicon-vcard"></span> Name</label>
                                <div class="form-inline row">
                                    <div class="form-group has-feedback col-sm-6">
                                        <input ng-model="signupform.first_name" type="text" name="first_name" value="" class="form-control" placeholder="First name" required>
                                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="form-group has-feedback col-sm-6">
                                        <input ng-model="signupform.last_name" type="text" name="last_name" value="" class="form-control" placeholder="Last name" required>
                                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group has-feedback">
                                <label for="email"><span class="glyphicon glyphicon-envelope"></span> Email</label>
                                <input ng-model="signupform.email" type="email" name="email" value="" class="form-control" placeholder="Enter your email address" data-minlength="6" data-error="Not a valid email address" required>
                                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group has-feedback">
                                <label for="username"><span class="glyphicon glyphicon-user"></span> Create a Username</label>
                                <input ng-model="signupform.username" type="text" name="username" value="" class="form-control" placeholder="Enter a username" data-minlength="5" data-error="Usernames must be at least 5 characters" required>
                                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group has-feedback">
                                <label for="password"><span class="glyphicon glyphicon-lock"></span> Enter a Password</label>
                                <input id="firstpass" ng-model="signupform.password" type="text" name="password" value="" class="form-control" placeholder="Enter a password" data-minlength="5" data-error="Passwords must be at least 5 characters" required>
                                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group has-feedback">
                                <label for="password2"><span class="glyphicon glyphicon-lock"></span> Confirm Password</label>
                                <input type="text" name="password2" value="" class="form-control" placeholder="Enter a password" data-match="#firstpass" data-error="Passwords do not match" required>
                                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                <div class="help-block with-errors"></div>
                            </div>
                            <button type="submit" class="btn btn-warning">Sign up</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row2">
            <ui-view class="view1"></ui-view>
        </div>
    </div>
</body>

<script src="js/jquery.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.min.js"></script>
<!-- Bootstrap Switch -->
<script src="js/bootstrap-switch.js"></script>


</html>
